{% extends "blog/base.html" %}

{% block main %}

<section class="latest-article-preview" style="max-width: 60%; max-height: 500px; padding-left:5px; display:inline-block; vertical-align: 250%;">

    {% for post in latest_posts %}
    <article>
      <h2>{{ post.title }}</h2>
      <em>{{ post.published|timesince }} ago</em>
      {{ post.content|linebreaks }}
    </article>
    {% endfor %}
</section>

<section class = "topics" style = "display: inline-block; vertical-align: top; padding-left: 20%;"">
    <h2 >Popular Topics</h2>
    <ul>
        {% for topic in topics %}
        <li>{{topic.name}} ({{topic.total_posts}})
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}